body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://st.depositphotos.com/1064950/2462/i/600/depositphotos_24620215-stock-photo-calgary-skyline.jpg');
    background-color: #8FC1DF;
    background-size: all-scroll;
  
   
    
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #EBFE8B;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #F1F9CD;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }